.login {
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5; /* Light gray background like FB */
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrapper {
    width: 70%;
    height: 70%;
    display: flex;
}

/* LEFT SIDE */
.loginLeft, .loginRight {
    flex: 1; /* Both sides take equal width */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginLogo {
    font-size: 50px;
    font-weight: 800;
    color: #1775ee; /* Facebook Blue */
    margin-bottom: 10px;
}

.loginDesc {
    font-size: 24px;
}

/* RIGHT SIDE (The Card) */
.loginBox {
    height: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68); /* Soft shadow */
}

.loginInput {
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

.loginInput:focus {
    outline: none; /* Removes the ugly default black outline */
    border: 1px solid #1775ee;
}

.loginButton {
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #1775ee;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.loginButton:disabled{
    cursor: not-allowed; /* Shows a 'stop' cursor if loading */
}

.loginForgot {
    text-align: center;
    color: #1775ee;
    cursor: pointer;
}

.loginRegisterButton {
    width: 60%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #42b72a; /* Green color for register */
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}