.topbarContainer {
    height: 50px;
    width: 100%;
    background-color: #8a9db5; /* Facebook Blue */
    display: flex;
    align-items: center;
    position: sticky; /* Keeps it at the top when scrolling */
    top: 0;
    z-index: 999;
}
/* LEFT */
.topbarLeft {
    flex: 3; /* Takes 3 parts of space */
}


.logo {
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

/* CENTER */
.topbarCenter {
    flex: 5; /* Takes 5 parts (widest) */
}

.searchbar {
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.searchIcon {
    font-size: 20px !important;
    margin-left: 10px;
}

.searchInput {
    border: none;
    width: 70%;
    padding-left: 10px; /* Space between icon and text */
}

.searchInput:focus {
    outline: none;
}

/* RIGHT */
.topbarRight {
    flex: 4; /* Takes 4 parts */
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.topbarLink {
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}

.topbarIcons {
    display: flex;
}

.topbarIconItem {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.topbarIconBadge {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.topbarImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}