.write {
    padding-top: 50px; /* Space for Topbar */
    display: flex;
    justify-content: center;
}

.writeWrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.writeImg {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 20px;
}

.writeForm {
    position: relative;
}

.writeFormGroup {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.writeIcon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #888;
    cursor: pointer;
    margin-right: 10px;
}

.writeInput {
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 100%;
}

.writeInput:focus {
    outline: none;
}

.writeText {
    font-size: 20px;
    height: 40vh; /* Takes up decent screen space */
}

/* Toggle for Privacy */
.writePrivacy {
    margin: 10px 0;
    display: flex;
    align-items: center;
    color: #555;
}

.writeSubmit {
    position: absolute;
    top: 20px;
    right: 50px;
    color: white;
    background-color: teal;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.writeSubmit:hover {
    background-color: #006666;
}