.sidebar {
    flex: 3;
    height: calc(100vh - 50px); /* Full height minus the topbar (50px) */
    overflow-y: scroll; /* Scroll if content is too long */
    position: sticky;
    top: 50px;
    background-color: #f0f2f5; /* Match background */
}

/* Hide the ugly scrollbar but keep scrolling functionality */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background-color: #888;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.sidebarWrapper {
    padding: 20px;
}

.sidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sidebarIcon {
    margin-right: 15px;
}

.sidebarListItemText {
    font-size: 15px; /* Added font-size here */
    font-weight: 500; /* Added font-weight here */
}

.sidebarHr {
    margin: 20px 0;
}

.sidebarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.sidebarFriendImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}